<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>

<nav>
  <div class="navbar-left">
  {% if request.user.is_authenticated %}
    <a href="{% url 'user_notes' %}"><button>My Notes</button></a>
  {% else %}
    <a href="{% url 'homepage' %}"><button>Home</button></a>
  {% endif %}
  </div>
  <div class="navbar-right">
    <select onchange="location = this.value;">
      <option hidden disabled selected>User</option>
    {% if perms.viewer %}
      <option value="http://127.0.0.1:8000/admin">Admin</option>
    {% endif %}
    {% if request.user.is_authenticated %}
      <option value="http://127.0.0.1:8000/accounts/profile/">Profile</option>
      <option value="{% url 'logout' %}">Logout</option>
    {% else %}
      <option value="{% url 'login' %}">Login</option>
      <option value="{% url 'registration' %}">Register</option>
    {% endif %}
    </select>
  </div>
</nav>

</body>
</html>

