<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>

<nav>
  <div class="navbar-left">
  {% if request.user.is_authenticated %}
    <a href="{% url 'homepage' %}" style="display: inline-block;"><button>Home</button></a>
      <div class="dropdown">
        <div class="my-notes">
          <button class="dropdown-btn">My Notes</button>
          <div class="dropdown-content">
            <a href="{% url 'user_notes' %}">All notes</a>
            <a href="{% url 'filter_notes' %}?finished=False">Ongoing</a>
            <a href="{% url 'filter_notes' %}?finished=True">Finished</a>
            <div class="dropdown-priority">
              <button class="dropdown-btn-priority">Categories</button>
              <div class="dropdown-content-priority">
                {% for category in all_categories %}
                <a href="{% url 'filter_notes' %}?category={{ category.name }}">{{ category.name }}</a>
                {% endfor %}
              </div>
            </div>
            <div class="dropdown-priority">
              <button class="dropdown-btn-priority">Priority</button>
              <div class="dropdown-content-priority">
                <a href="{% url 'filter_notes' %}?priority=4">Top</a>
                <a href="{% url 'filter_notes' %}?priority=3">High</a>
                <a href="{% url 'filter_notes' %}?priority=2">Mid</a>
                <a href="{% url 'filter_notes' %}?priority=1">Low</a>
              </div>
            </div>
          </div>
        </div>
      </div>

  {% else %}
    <a href="{% url 'homepage' %}"><button>Home</button></a>
  {% endif %}
  </div>
  <div class="dropdown">
    <div class="my-notes">
      <button class="dropdown-btn">User</button>
        <div class="dropdown-content">
        {% if perms.viewer %}
          <a href="http://127.0.0.1:8000/admin">Admin</a>
        {% endif %}
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'registration' %}">Register</a>
        {% endif %}
        </div>
    </div>
  </div>
</nav>

</body>
</html>

