{% extends 'base.html' %}


{% block content %}
{% load static %}

<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="{% static 'styling.css' %}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>

    <h1>My notes</h1>
<div style="display: inline-block;">
  <button class="btn-add"><a href="http://127.0.0.1:8000/add_category/">Add category</a></button>
</div>
<div style="display: inline-block;">
  <button class="btn-add" style="font-size: 40px;"><a href="http://127.0.0.1:8000/add_note/"><i class='fa fa-pencil-square-o'></i></a></button>
</div>
{% for note in notes %}
    <div class="note">
        <div class="note-content">
            <p>{{ note.category.name }}</p>
            <p>{{ note.name }}</p>
            <p>{{ note.description }}</p>
        </div>
        <div class="note-actions">
            <a href="http://127.0.0.1:8000/notes/{{ note.id }}/edit/"><button class="edit-note"><i class="fa fa-pencil"></i></button></a>
                <form style="display: inline-block;" method="post" action="{% url 'delete_note' note.id %}" onsubmit="return confirm('Are you sure you want to delete this note?')">
                  {% csrf_token %}
                  <button class="delete-note"><i class="fa fa-times"></i></button>
                </form>
                <form style="display: inline-block;" method="post" action="{% url 'finish_note' note.id %}" onsubmit="return confirm('Is it really finished?')">
                  {% csrf_token %}
                  <button class="finish-note"><i class='fa fa-check-square'></i></button>
                </form>
        </div>
    </div>
{% endfor %}


</body>
{% endblock %}


<form method="post" action="{% url 'delete_note' note.id %}" onsubmit="return confirm('Are you sure you want to delete this note?')">
  {% csrf_token %}
  <button class="finish-note"><i class='fa fa-check-square'></i></button>
</form>