h1, h2{
    margin-left: 26px;
}
h3 {
    font-size: 25px;
    margin: 10px 5px 5px 0px;
}

h3, h4 {
    text-align: center;
}

body {
    margin: 0;
    background-image: url('background/background1.jpg' );
    background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #c5eba6;
  padding: 0 20px;
  margin: 0;
}

select option {
  font-size: 1.2rem;
}

.navbar-left button {
    background-color: #c5eba6;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.navbar-left button:hover {
    background-color: #9ed175;
}

.navbar-right select {
    background-color: #c5eba6;
    border: none;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.navbar-right option {
  background-color: #c5eba6;
  cursor: pointer;
}

.navbar-right select:hover {
  background-color: #9ed175;
  transition: background-color 0.3s ease;
}

.navbar-right option:hover {
  background-color: #9ed175;
  transition: background-color 0.3s ease;
}

.sign_up_table {
    margin-left: 500 px;
}

.sign_up_btn {
  margin-top: 20px;
  background-color: #c5eba6;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sign_up_btn:hover {
  background-color: #9ed175;
}

.note {
  background-image: url('background/sticker.jpg' );
  background-size: cover;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 2);
  padding: 10px 20px 20px 20px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 280px;
  height: 300px;
  margin: 0px 25px 25px 25px;
  overflow: hidden;
}


.note-high-priority {
  background-image: url('background/priority-sticker.jpg' );
  background-size: cover;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 2);
  padding: 10px 20px 20px 20px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 280px;
  height: 300px;
  margin: 0px 25px 25px 25px;
  overflow: hidden;
}

.note-content {
  margin-top: 50px;
  position: relative;
  overflow: auto;
  height: calc(100% - 100px);
}

.btn-add {
    margin: 30px;
    cursor: pointer;
    background-color: #c5eba6;
    border: 2px solid black;
    font-size: 26px;
    font-weight: bold;
}

.note-actions button {
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: #4598bd00;
  font-size: 30px;
}

.edit-note:hover {
  background-color: #9ed175;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.delete-note:hover {
  background-color: #932314;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.finish-note:hover {
  background-color: #9ed175;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.note-details:hover {
  background-color: #9ed175;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.scheduled-time-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.scheduled-time-indicator.finished {
    background-color: green;
}

.scheduled-time-indicator:not(.finished) {
    background-color: red;
}

.homepage_buttons {
    margin: 50px;
    font-size: 50px;
    background-color: #4FC3F7;
    padding: 20px;
    cursor: pointer;
    color: white;

}