h1 {
    margin-left: 20px;
}

body {
    margin: 0;
    background-image: url('background/background.png' );
    background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #4FC3F7;
  padding: 0 20px;
  margin: 0;
}

select option {
  font-size: 1.2rem;
}

.navbar-left button {
    background-color: #4FC3F7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.navbar-left button:hover {
    background-color: #2196F3;
}

.navbar-right select {
    background-color: #4FC3F7;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.navbar-right option {
  background-color: #4FC3F7;
  color: white;
  cursor: pointer;
}

.navbar-right select:hover {
  background-color: #2196F3;
  transition: background-color 0.3s ease;
}

.navbar-right option:hover {
  background-color: #2196F3;
  transition: background-color 0.3s ease;
}

.sign_up_table {
    margin-left: 500 px;
}

.sign_up_btn {
  margin-top: 20px;
  background-color: #4FC3F7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sign_up_btn:hover {
  background-color: #2196F3;
}