{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styling.css' %}">


<h1>Login</h1>

<form style="margin-left: 20px; font-size: 18px;" method="post" >
    <table class="sign_up_table">
            {% csrf_token %}
            {% for field in form %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>{{ field }}</td>
        </tr>
      {% endfor %}
    </table>
    <button class="sign_up_btn" type="submit" id="id_submit" >Login</button>
</form>


<p style="margin-left: 22px; font-size: 20px; ">You can <a href="{% url 'registration' %}" id="id_sign_up">sign up here</a>.</p>


{% endblock %}